<div id="<%= dom_id import_row %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Building name:</strong>
    <%= import_row.building_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Street address:</strong>
    <%= import_row.street_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Unit:</strong>
    <%= import_row.unit %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= import_row.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= import_row.state %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Zip:</strong>
    <%= import_row.zip %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Import:</strong>
    <%= import_row.import_id %>
  </div>
</div>
